img {
  max-width: 345px;
}

header {
  color: white;
  background-color: #562b81;
}

.textinput * {
  width: 100%;
}

.savebutton {
  width: 60px;
  background-color: #562b81;
  color: white;
}

#notesinput {
  height: 100px;
}
