* {
  font-family: "Proza Libre", sans-serif;
}

img {
  width: 100%;
  object-fit: contain;
}

header {
  color: white;
  background-color: #562b81;
}

body {
  background-color: #f0f0f0;
}

.button {
  width: 60px;
  height: 30px;
  background-color: #562b81;
  color: white;
  border-radius: 4px;
  align-self: flex-end;
  margin: auto 0 auto auto;
  text-align: center;
}

#notesinput {
  height: 100px;
}

.maintitle {
  margin: 0;
  padding: 0 1.5rem 0 0;
}

.notes {
  height: 160px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.imagediv {
  max-height: 350px;
  display: flex;
  margin-bottom: 20px;
}

.photoinput {
  margin: 20px 0;
}

input:focus,
textarea:focus {
  outline-color: #562b81;
}

ul {
  list-style: none;
  padding: 0;
  gap: 2rem;
}

h2 {
  margin: 0;
}

a {
  color: white;
  font-family: "Proza Libre", sans-serif;
  text-decoration: none;
  align-self: center;
}

.new {
  padding: 5px;
}

.temp {
  text-align: center;
}

.titlerow {
  justify-content: space-between;
}

a.deletelink {
  color: red;
  text-decoration: underline;
}

label.column-full {
  padding: 0;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(50 50 50 / 80%);
  font-weight: bold;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 90%;
  background-color: white;
  border-radius: 5px;
}
